.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0rem 5rem;
}
.img-container {
  position: relative;
}
.img-container::before {
  background-color: #ee2211;
  content: "";
  display: inline-block;
  height: 4px;
  left: -30px;
  position: absolute;
  top: 30px;
  width: 3.75rem;
}
.description-container {
  align-items: end;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  grid-column: 1;
  justify-content: space-evenly;
  padding: 1.25rem;
  text-align: right;
}
.description-container p {
  max-width: 25rem;
}
.description-container h1 {
  font-size: 2rem;
}
.description-container button {
  background-color: #ee2211;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: background 0.3s;
}
.description-container button:hover {
  background-color: #900;
}
.advantages-title-container {
  align-items: center;
  align-self: center;
  background-image: url(/img/onda.svg);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
  font-size: 4rem;
  font-weight: bold;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
}
.advantages-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
}
.advantage {
  align-items: start;
  display: flex;
  gap: 15px;
  margin: 0 1.25rem;
  padding: 1rem;
  position: relative;
}
.advantage::before {
  background-color: #900;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: 0.2s;
  width: 0px;
}
.advantage:hover::before {
  width: 4px;
}
.advantage:nth-child(odd) {
  background-color: #f7f7f7;
}
.advantage-description p {
  margin-top: 10px;
  max-width: 20rem;
}
