* {
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background-color: var(--backgroundbody);
  height: 100vh;
  line-height: 1.3;
}
footer,
header,
nav,
section,
main,
article {
  display: block;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
